* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general classes */

.pl-70 {
    padding: 0 70px;
}

.mb-96 {
    margin: 96px 0;
}

body {
    font-family: Inter, sans-serif;
}

/* header styling */
/* nav styling */

nav {
    width: 100vw;
    height: 90px;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #EFF8FF;
}

nav .logo {
    width: 68.65582275390625px;
    height: 55.99973678588867px;
}

nav ul {
    width: 439px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: #222222;
}

nav a:hover {
    color: #025595;
    border-bottom: 2px solid #025595;
}

nav .login {
    width: 135px;
    padding: 13px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #F5F5F5;
    background-color: #025595;
    border-radius: 6px;
}

nav .bars {
    display: none;
}

/* hero styling */
.hero {
    height: 100vh;
    padding-top: 110px;
    background-color: #EFF8FF;
    background-image: url(./../images/building.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.hero h1 {
    max-width: 549px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #222222;
}

.hero .description {
    max-width: 423px;
    margin-bottom: 50px;
    line-height: 26px;
    color: #22222280;
}

.hero .searchFilter {
    width: max-content;
    padding: 20px 58px;
    border-radius: 16px;
    background-color: #FFFFFFCC;
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    gap: 64px;
}

.hero .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .searchFilterIcon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: #f0f5fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero span {
    font-weight: 500;
    letter-spacing: -0.22px;
    color: #222222;
}

.hero .searchFilter p {
    margin-top: 10px;
    letter-spacing: -0.22px;
    color: #8f9090;
}

/* howItWork styling */

.howItWork h2 {
    font-weight: 700;
    font-size: 39px;
    color: #222222;
    margin-bottom: 5px;
}

.howItWork .description {
    font-size: 15px;
    color: #22222280;
    margin-bottom: 56px;
}

.howItWork .cards {
    margin: 0 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.howItWork .card {
    width: 380px;
    height: 255px;
    padding: 30px 20px;
    border-radius: 15px;
}

.howItWork svg {
    margin-bottom: 20px;
}

.howItWork h3 {
    font-weight: 600;
    font-size: 22px;
    color: #222222;
    margin-bottom: 10px;
}

.howItWork .cards p {
    font-size: 14px;
    line-height: 24px;
    color: #22222280;
}

.howItWork .card:hover h3,
.howItWork .card:hover p {
    background-color: #025595;
    color: #FFFFFF;
}

.howItWork .card:hover svg path {
    fill: #ffffff;
}

/* dreamHome styling */
.dreamHome {
    position: relative;
}

.dreamHome img {
    width: 100%;
    height: 380px;
}

.dreamHome .content {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.dreamHome h2 {
    font-weight: 700;
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 58px;
    text-align: center;
}

.dreamHome P {
    max-width: 606px;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

.trending h2 {
    font-weight: 700;
    font-size: 39px;
    margin-bottom: 5px;
    color: #222222;
}

.trending p {
    font-size: 15px;
    margin-bottom: 56px;
    color: #22222280;
}


.trending .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.trending .card {
    width: 382px;
    height: 447px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #FFFFFF26;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.trending .card img {
    border-radius: 10px;
}

.trending .card span {
    margin-top: 16px;
    font-weight: 600;
    font-size: 18px;
    color: #025595;
}

.trending .card h3 {
    width: 180px;
    margin-bottom: 38px;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #222222;
}

.trending .card div {
    display: flex;
}

.trending .card p {
    margin-left: 10px;
    font-size: 14px;
    color: #222222;
}

/* deals styling */

.deals h2 {
    font-weight: 700;
    font-size: 39px;
    color: #222222;
    margin-bottom: 5px;
}

.deals p {
    margin-bottom: 56px;
    font-size: 15px;
    line-height: 26px;
    color: #22222280;
}

.deals ul {
    margin-bottom: 40px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.deals a {
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #222222;
}

.deals a:hover {
    color: #025595;
    border-bottom: 2px solid #025595;
}

.deals .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.deals .card {
    position: relative;
}

.deals .details {
    width: 120px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 14px;
    left: 14px;
}

.deals span {
    padding: 6px;
    font-size: 12px;
    color: #ffffff;
    background-color: #00000020;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.deals span:nth-child(1) {
    padding: 6px 12px;
}

/* footer styling */

footer {
    padding-top: 35px;
    padding-bottom: 24px;
}

footer .content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 60px;
}

footer .site {
    max-width: 352px;
}

footer .site img {
    margin-bottom: 28px;
}

footer .site p {
    line-height: 26px;
    color: #22222280;
}

footer .content h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #222222;
}

footer .content .card .column {
    display: flex;
    flex-direction: column;
}

footer a {
    margin-bottom: 16px;
    text-decoration: none;
    font-size: 16px;
    color: #222222;
}

footer .addres {
    margin-bottom: 16px;
}

footer .socials {
    display: flex;
    gap: 16px;
}

footer .social {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #025595;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copyright {
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .copyright p {
    font-size: 14px;
    color: #222222;
}

footer .copyright a {
    font-size: 14px;
}

footer .copyright .links a:nth-child(1) {
    margin-right: 28px;
}

/* media screen for mobile */
@media screen and (max-width: 992px) {
    .pl-70 {
        padding: 0 20px;
    }

    .mb-96 {
        margin: 64px 0;
    }

    nav {
        position: static;
        padding: 30px 20px;
        height: max-content;
    }

    nav ul,
    .login {
        display: none;
    }

    nav .bars {
        display: block;
    }

    .hero {
        height: calc(100vh - 116px);
        padding-top: 67px;
    }

    .hero h1 {
        font-size: 35px;
        line-height: 46px;
    }

    .hero .description {
        margin-left: 20px;
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 20px;
    }

    .hero .searchFilter {
        width: 100vw;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -20px;
        padding: 20px 20px 24px 20px;
    }

    .howItWork .cards {
        margin: 0 20px;
        gap: 20px;
    }

    .dreamHome h2 {
        font-size: 30px;
    }

    .dreamHome P {
        font-size: 15px;
    }

    footer .card {
        width: 100%;
    }
}